Requirements
 	 
Team Name	   
Moniker to be used in all presentations and documentation

Members	   
Mahalia Evans
 	 
Description	   
Short description (2-3 paragraphs) of the project. Provide enough 
   information to explain what your project will accomplish
 	 
Vision Statement	   
Provide a vision of your project for all potential customers
 	 
Motivation	   
Provide the background and reasons for this particular project. Why should this project be developed?
 	 
Risks	   
What are the risks that would prevent you from completing this project?
   This could include: working environment, lack of experience in the field 
   among the team, lack of access to a specific resource, etc.
 	 
Risk Mitigation Plan	   
Create a plan to mitigate the risks. How can you succeed given the risks 
   listed above? What steps can be taken to eliminate the risks?
 	 
Version Control	   
List the version control you will be using on the project (suggest that you 
   use GITHUB). Create the repository and give access to your repository to 
   the TAs and instructor, as well as all team members.
 	 
Software Development Methodology	   
Which methodology are you planning to follow? Your methodology may 
   change during the project. Describe the methodology and the  
   features/steps that you will follow. Common methodologies include 
   Waterfall, Iterative, Spiral, Agile, or could be a mashCup of different
   methods.
 	 
Collaboration Tool	   
Select a collaboration tool (commonly used tools: Slack and HipChat).

